
footer {
    background-color: #263238;
    display: flex;
    font-size: 10px;
    color: #ffffff
}
section {
    width: 100%;
    float: left;
    background-color: transparent!important;
    text-align: center;
}


@media(max-width: 959px)
{
    /* section {
        text-align: center;
    } */
}

