label {
    color: #222222;
}

.full-width {
    width: 100%;
}

button {
    background-color: #f04b23;
    text-align: center;
    width:250px;
    margin: 15px auto;
    color: #ffffff;
    display: block;
}

form {
    padding: 15px;
}

.quotes {
        margin-left:calc(1.2rem + 8.33%);
        margin-right:8.33%;
        padding:8rem 0 5rem;
}