/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Cinzel");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Cinzel");

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  font-family: 'Roboto'!important;
}

body {
  margin: 0;
  color: #424242;
}

section {
  padding: 30px 60px;
  background-color: #ffffff;
}

.mat-drawer-container{
  background-color: #ffffff!important;
}

section:nth-of-type(even) {
  background-color: #dddddd;
}

h1 {
  text-align: center;
  color: #333333;
  font-weight: 500 !important;
  font-size: 32px !important;
  padding-bottom: 20px !important;
  font-family: Cinzel!important;
}

button {
  border-radius: 2px !important;
  min-width: 100px;
 
}

.mat-button.mat-accent,
.mat-icon-button.mat-accent,
.mat-stroked-button.mat-accent {
  color: #ffffff !important;
}

.mat-flat-button.mat-accent,
.mat-raised-button.mat-accent,
.mat-fab.mat-accent,
.mat-mini-fab.mat-accent {
  background-color: #ffffff;
  border-radius: 5px !important;
}

mat-toolbar {
  z-index: 3;
}



@media(max-width: 959px){
  .quote-button .mat-button-wrapper {
    width:275px!important;
  }

  h1{
    font-size: 24px !important;
    padding-bottom: 20px !important;
    font-family: Cinzel!important;
  }

  .mat-card-header-text {
    margin: 5px auto 0!important;
  }

  li.carousel-slide {
    padding-bottom: 40%!important;
  }
}