<div class="faqs">
    <h1>Frequently Asked Questions</h1>
    <div class="container">
    
             <p> Doubtlessly, before trusting any courier to deliver your package, you’ll want to know as much as you possibly can about them. So here are some repeatedly-asked questions; if you do not find your answers through here, do not worry- just contact us, and we’ll gladly let you know about any details of our service.</p>
      
                <ul>
                    <li>
                        <a [ngxScrollTo]="'#1'">Do we really Guarantee same day delivery?</a>
                    </li>
                    <li>
                        <a [ngxScrollTo]="'#2'">What if a problem occurs?</a>
                    </li>
                    <li>
                        <a [ngxScrollTo]="'#3'">How will I know my package has been delivered?</a>
                    </li>
                    <li>
                        <a [ngxScrollTo]="'#4'">Will my package be the only one you deliver?</a>
                    </li>
                    <li>
                        <a [ngxScrollTo]="'#5'">What vehicle will you be using?</a>
                    </li>
                    <li>
                        <a [ngxScrollTo]="'#6'">Is it possible to deliver any consignment?</a>
                    </li>
                    <li>
                        <a [ngxScrollTo]="'#7'">Will there be any “hidden extras” in the cost?</a>
                    </li>
                    <li>
                        <a [ngxScrollTo]="'#8'">Do I need to package my items before you collect them?</a>
                    </li>
                    <li>
                        <a [ngxScrollTo]="'#9'">Is it possible to open an account with you?</a>
                    </li>
                </ul>
                <div>
                    <p id="1" class="heading">Do we really Guarantee same day delivery?</p>
                    <p class="answer">In most cases, yes. It depends on where your package is going. We can guarantee same day delivery of consignments to most destinations all over the UK. However, there are certain exceptions of course, such as delivering to Northern Island, the Isle of Man and the other isolated parts of Scotland, due to the possibility of them being ferry or weather dependent.</p>
                </div>
                <div>
                    <p id="2" class="heading">What if a problem occurs?</p>
                    <p class="answer">If there are any complications which prevent us from delivering on time , such as traffic problems or bad weather, we’ll instantly inform you and do everything we can to deliver your package as soon as possible.</p>
                </div>
                <div>
                    <p id="3" class="heading">How will I know my package has been delivered?</p>
                    <p class="answer">Easy- we’ll tell you! Depending on your preference, we'll notify you via text or email as soon as your consignment has been successfully delivered. If you require evidence of receipt, we’ll pass it on to you.</p>
                </div>
                <div>
                    <p id="4" class="heading">Will my package be the only one you deliver?</p>
                    <p class="answer">Unlike most same days couriers, we won’t carry anything else with your consignment which is very reassuring, especially when your package is fragile.</p>
                </div>
                <div>
                    <p id="5" class="heading">What vehicle will you be using?</p>
                    <p class="answer">Our modern fleet of vans includes lwb/xlwb wheel base, enabling us to move almost anything. (Storage area of 4.3L x 1.3W x 1.8H carrying upto 1150 kgs and up to 4 pallets)</p>
                </div>
                <div>
                    <p id="6" class="heading">Is it possible to deliver any consignment?</p>
                    <p class="answer">We will consider almost anything although there are certain limits to what we can deliver. This includes radioactive waste, live animals, blood and organs. Items of high value may require additional insurance, which would carry an extra charge.</p>
               </div>
                <div>
                    <p id="7" class="heading">Will there be any 'hidden extras' in the cost?</p>
                    <p class="answer">We will not add any sneaky extra costs onto the figure we quote you, unlike some other companies do. What you’re quoted is what you’ll pay; no unpleasant surprises.</p>
                </div>
                <div>
                    <p id="8" class="heading">Do I need to package my items before you collect them?</p>
                    <p class="answer">Preferably, we would like all items well packaged with sharp corners or edges protected before we collect them. This is to ensure a minimum risk of damage during transit.</p>
                </div>
                <div>
                    <p id="9" class="heading">Is it possible to open an account with you?</p>
                    <p class="answer">If you use Sunset Couriers Services regularly, we'll be delighted to work on that basis. This might mean your first orders have to be pre-paid while we set up your account, as it takes 2 or 3 days.</p>
                </div>
    </div>
</div>