.contact{
    margin-left:calc(1.2rem + 8.33%);
    margin-right:8.33%;
    padding:15rem 0 5rem;
}

.container {
    display:flex;
    flex-direction: row;
    padding:25px 0; 
}

mat-card {
    width:100%;
    margin: 10px 20px 10px 0px;
}

mat-card-title {
    font-size: 18px;
    font-weight: 500;
    color: #222222;
    font-weight: 200;
    text-align: center!important;
    padding:15px;
}


.mat-card-header-text{
    margin:0 auto!important;
    padding: 0;
} 


mat-card-content {
    padding: 0 15px;
    /* text-align: center; */
}

mat-card p {
    font-size: 24px;
    font-weight: 500;
}

ul {
    list-style-type: none;
    padding-left: 5px;
}

ul li i {
    color: #f04b23;
    font-size: 18px;
    margin-right: 10px;
}

ul li {
    padding: 5px 10px 15px;
}

a {
    color: #f04b23;
}

 i {
    color: #666666;
    padding-right: 10px;
    font-size: 26px;
    vertical-align: middle;
}

@media(max-width: 959px)
{
  .container {
    flex-direction: column;
  }

  .container .mat-card {
    width: auto;
    margin: 10px 0!important;
  }
  
}