 <div class="quotes">
<!-- <h1>Get a quote</h1> -->
<div id="quote" class="item" style="margin-right: 1%;">
     <h1>Get a quote today</h1>
     <ul>
         <li>
             <i class="fas fa-check-circle"></i>
             Lorem ipsum dolor sit amet, consectetur adipiscing elit.
         </li>
         <li>
             <i class="fas fa-check-circle"></i>
             Praesent ut quam vehicula, rhoncus justo sit amet, aliquet lorem
         </li>
         <li>
             <i class="fas fa-check-circle"></i>
             Cras vehicula orci nec dapibus congue.
         </li>
     </ul> 
     </div>
     <div class="item" style="margin-left: 1%;"> 
         <app-quotation></app-quotation>
     </div>
 </div>
 <div id="services" class="services">
     <div>
         <h1>Services</h1>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ut quam vehicula, 
             rhoncus justo sit amet, aliquet lorem. Cras vehicula orci nec dapibus congue. Vestibulum rutrum euismod diam, 
             sit amet fermentum lorem consequat sit amet. 

         <a class="more" mat-flat-button (click)="goToServices()">Find out more</a>
         </p>
     </div>
 </div>
 <div class="sales">
     <div class="item">
        <div class="item-heading"> 
            <i class="fas fa-map-marked-alt"></i>
             <p>Nationwide deliveries and collection</p>
         </div>
         <p>We collect and deliver all across the UK.</p>
     </div>
     <div class="item">
         <div class="item-heading"> 
                 <i class="fas fa-file-alt"></i>
             <p>Free no obligation quotes</p>
         </div>
         <p>Get a quote online today</p>
     </div>
     <div class="item">
         <div class="item-heading"> 
             <i class="fas fa-clock"></i>
             <p>We're always open</p>
         </div>
         <p>Open 24 hours a day, 7 days a week.</p>
     </div>
     <div class="item">
         <div class="item-heading"> 
             <i class="fas fa-truck"></i>
             <p>Quality vehicles</p>
         </div>
         <p>Small Vans to XLWB Vans, all goods are fully insured</p>
     </div>
 </div>
 <div id="contact" class="contact">
     <div>
         <h1>Get in touch</h1>

         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ut quam vehicula, 
                 rhoncus justo sit amet, aliquet lorem. Cras vehicula orci nec dapibus congue. Vestibulum rutrum euismod diam, 
                 sit amet fermentum lorem consequat sit amet. 

                
         </p>
         <div class="card-container">
            <div class="card">
                <p>Call us</p>
                <a mat-flat-button href="tel: 07458 302808"> <i class="fas fa-phone-alt"></i> 07458 302808 </a>
                
            </div>
            <div class="card">
                <p>Email us</p>
                <i class="fas fa-envelope"></i><a href="mailto:contact@sunsetcourierservices.co.uk">contact@sunsetcourierservices.co.uk</a>
            </div>
        </div>
     </div>
 </div>

