.mat-button.mat-accent, .mat-icon-button.mat-accent, .mat-stroked-button.mat-accent{
    color:#ffffff!important;
}

h1 {
    font-size: 28px!important;
    padding: 10px 75px;
}


@media(max-width: 959px)
{
    h1 {
        font-size: 14px!important;
        padding: 10px 75px;
    }
}