<mat-carousel
  timings="250ms ease-in"
  [autoplay]="true"
  interval="5000"
  color="accent"
  maxWidth="auto"
  proportion="30"
  slides="4"
  [loop]="true"
  [hideArrows]="false"
  [hideIndicators]="false"
  [useKeyboard]="true"
  [useMouseWheel]="false"
  orientation="ltr">
  <mat-carousel-slide
    #matCarouselSlide
    *ngFor="let slide of slides; let i = index"
    [image]="slide"
    [hideOverlay]="false">
  <div style="width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; color: #ffffff!important;">
     
    <div >
    <h1 style="color: #ffffff;" *ngIf="i == 0">
      Nationwide deliveries and collection | We collect and deliver all across the UK
    </h1>
    <h1 style="color: #ffffff;" *ngIf="i == 1">
      Free no obligation quotes | Get a quote online today
    </h1>
    <h1 style="color: #ffffff;" *ngIf="i == 2">
      We're always open | Open 24 hours a day, 7 days a week
    </h1>
    <h1 style="color: #ffffff;" *ngIf="i == 3">
      Quality vehicles | Small Vans to XLWB Vans, all goods are fully insured
    </h1>
    </div>
</div>
</mat-carousel-slide>
</mat-carousel>
