.services{
    margin-left:calc(1.2rem + 8.33%);
    margin-right:8.33%;
    padding:15rem 0 5rem;
}

.container {
    display:flex;
    flex-direction: row;
    padding:25px 0; 
}

mat-card {
    width:100%;
    margin: 10px 20px 10px 0px;
}

mat-card-title {
    font-size: 18px;
    font-weight: 500;
    color: #222222;
}

mat-card-content {
    padding: 0 15px;
}

mat-card p {
    font-size: 16px;
    font-weight: 500;
}

p {
    font-size: 16px;
}

ul {
    list-style-type: none;
    padding-left: 5px;
}

ul li i {
    color: #f04b23;
    font-size: 18px;
    margin-right: 10px;
}

ul li {
    padding: 5px 10px 15px;
}