<!-- <header>
    <app-menu></app-menu>
     
 </header>


<router-outlet>
</router-outlet>
<app-footer></app-footer> -->
<!-- <app-layout> -->
<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <app-mobile-menu (sidenavClose)="sidenav.close()"></app-mobile-menu>
  </mat-sidenav>
  <mat-sidenav-content>

    <!-- <mat-toolbar> -->
      <!-- <header> -->
        <app-menu (sidenavToggle)="sidenav.toggle()"></app-menu>
      <!-- </header> -->
    <!-- </mat-toolbar>   -->
  
    <main>
      <router-outlet></router-outlet>
    </main>
    <!-- <footer fxFlexOffset="auto">
      <app-footer></app-footer>
    </footer> -->
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- </app-layout> -->