<!-- <header>
    <app-menu></app-menu>
     
 </header>


<router-outlet>
</router-outlet>
<app-footer></app-footer> -->
<!-- <app-layout> -->
  <nb-layout>
<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <app-mobile-menu (sidenavClose)="sidenav.close()"></app-mobile-menu>
  </mat-sidenav>
  <mat-sidenav-content fxLayout="column" fxFlexFill>

    <!-- <mat-toolbar> -->
      <!-- <header> -->
        <app-menu (sidenavToggle)="sidenav.toggle()"></app-menu>
      <!-- </header> -->
    <!-- </mat-toolbar>   -->
  
    <main>
      <router-outlet></router-outlet>
    </main>
    <div fxHide.gt-xs class="mobile-quote">
      <button mat-button class="quote-button" [ngxScrollTo]="'#quotes'">Get a Quote</button>
    </div>
   
 
 
    <!-- <footer> -->
      <app-footer fxFlexOffset="auto"></app-footer>
    <!-- </footer> -->
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- </app-layout> -->
</nb-layout>